# Banco de Dados

* Componentes
  * Base de dados
  * Sistema Gerenciador de Banco de Dados (SGBD)
  * Linguagem de Manipulação
    *  Structered Query Language (SQL)
  * Programas adicionais

* Arquitetura
  * Cliente-Servidor

## Modelo Relacional
  
| nome | tipo | nivel | capturado em|
|---- |----|-----|----|
|Pikachu| Elétrico| 5| 08 jun 2021|
|Bulbassauro| Grama| 10| 10 fev 1990|
|Squirtle| Água| 12| 23 out 2015|

Tabela ou Relação

Linhas, Intâncias, Entradas, Registros, Tupla

Colunas, atributos, características

## Implementação em SQL

* dialetos: MySQL, PostreSQL, MariaDB, Oracle etc

* MySQL online: https://paiza.io/en/projects/new?language=mysql
* PostgreSQL as a Service: https://www.elephantsql.com/
* Sqlite e PostgreSQL: https://sqliteonline.com/

#### Criando um banco de dados dentro do SGDB
* MySQL
      CREATE DATABASE [IF NOT EXISTS] db_name
*PostgreSQL
      CREATE DATABASE name
*SQLite
      # Não tem (nesse formato)

### Linguagem de Descrição de Dados (DDL)


#### CREATE (Criar)
      CREATE [TEMPORARY] TABLE [IF NOT EXISTS] tbl_name
      [column_name column_type column_constraint, ...]
      [table_constraints, ...]

[MySQL types](https://dev.mysql.com/doc/refman/8.0/en/data-types.html)
\- [PostrgreSQL types](https://www.postgresql.org/docs/9.5/datatype.html)
\- [SQLite types](https://www.sqlite.org/datatype3.html)

* Most used Constraints:

#### ALTER (alterar)
      ALTER TABLE tbl_name [alter_option, ...]

#### DROP (descartar)
      DROP TABLE [ IF EXISTS ] tbl_name [, ...]

### Linguagem de Manipulação de Dados (DML)


#### INSERT (inserir)

      INSERT  INTO tbl_name[(col_name [, col_name] ...)]
      VALUES (value_list) [, (value_list)] ...```


#### UPDATE (atualizar)
      UPDATE table_reference
      SET assignment_list
      [WHERE where_condition]

#### DELETE (deletar)
      DELETE FROM tbl_name [WHERE where_condition]

### Linguagem de Consulta de Dados (DQL)


#### SELECT (SELECIONAR)

      SELECT [ALL | ISTINCT | DISTINCTROW ]
      select_expr [, select_expr] ...
      [FROM table_references
      [WHERE where_condition]
      [GROUP BY {col_name | expr | position}, ...]
      [HAVING where_condition]
      [ORDER BY {col_name | expr | position} [ASC | DESC], ...]
      [LIMIT {[offset,] row_count | row_count OFFSET offset}]

#### JOINS

### Linguagem de Transação de Dados (DTL)
### Linguagem de Controle de Dados (DCL)

# Integração com Python

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect("pokemon.bd")

In [ ]:
con.execute("""
CREATE TABLE Treinadores(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome VARCHAR(30) NOT NULL UNIQUE,
  cidade VARCHAR(30),
  insignias INTEGER NOT NULL DEFAULT 0
);
            """)

In [ ]:
con.execute("""
CREATE TABLE IF NOT EXISTS Pokemon(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome VARCHAR(25) NOT NULL,
  tipo VARCHAR(20) NOT NULL,
  nivel INTEGER NOT NULL default 1,
  capturado_em DATE default CURRENT_DATE,
  id_treinador INTEGER NOT NULL REFERENCES Treinadores(id)
);
""")

In [ ]:
treinadores = [
    {
        'nome': 'Ash',
        'cidade': 'Pallet'
    },
    {
        'nome': 'Feulo',
        'cidade': 'SP'
    },
    {
        'nome': 'Gary',
        'cidade': 'Pallet'
    }
  ]

for treinador in treinadores:
  con.execute(f"INSERT INTO treinadores(nome, cidade) VALUES ('{treinador['nome']}', '{treinador['cidade']}')")
con.commit()

In [ ]:
rs = con.execute("SELECT * FROM Treinadores")

In [ ]:
rs

In [ ]:
resultados = rs.fetchall()    # list[tuple[int, str, str, int]]

In [ ]:
resultados

[(1, 'Ash', 'Pallet', 0), (2, 'Feulo', 'SP', 0), (3, 'Gary', 'Pallet', 0)]

In [ ]:
for treinador in rs.fetchall():
  if treinador[1] == 'Feulo':
    print(f"Campeão!! {treinador[1]}")
  else:
    print(f"Perdedor: {treinador[1]}")

Perdedor: Ash
Campeão!! Feulo
Perdedor: Gary

In [ ]:
con.execute("""INSERT INTO Pokemon (nome, tipo, nivel, capturado_em, id_treinador)
VALUES
('Bulbasaur', 'Grama', 5, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Charmander', 'Fogo', 6, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Squirtle', 'Água', 5, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Pikachu', 'Elétrico', 7, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Jigglypuff', 'Fada', 4, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Psyduck', 'Água', 5, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Geodude', 'Pedra', 6, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Snorlax', 'Normal', 8, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Magikarp', 'Água', 3, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Gengar', 'Fantasma', 9, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
-- Insira mais Pokémons aqui usando a mesma estrutura, ajustando os valores de nome, tipo, nível, capturado_em e id_treinador conforme necessário.
('Zubat', 'Venenoso', 4, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Golbat', 'Venenoso', 7, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Oddish', 'Grama', 5, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Gloom', 'Grama', 8, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Vileplume', 'Grama', 10, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Paras', 'Inseto', 3, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Parasect', 'Inseto', 6, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Venonat', 'Inseto', 4, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Venomoth', 'Inseto', 7, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Diglett', 'Terra', 5, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Dugtrio', 'Terra', 8, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Meowth', 'Normal', 4, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Persian', 'Normal', 7, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Psyduck', 'Água', 5, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Golduck', 'Água', 8, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Mankey', 'Lutador', 5, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Primeape', 'Lutador', 8, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Growlithe', 'Fogo', 5, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Arcanine', 'Fogo', 8, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Poliwag', 'Água', 4, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Poliwhirl', 'Água', 6, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Poliwrath', 'Água', 9, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Abra', 'Psíquico', 5, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Kadabra', 'Psíquico', 7, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Alakazam', 'Psíquico', 10, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Machop', 'Lutador', 6, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Machoke', 'Lutador', 8, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Machamp', 'Lutador', 10, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Bellsprout', 'Grama', 4, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Weepinbell', 'Grama', 6, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Victreebel', 'Grama', 9, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Tentacool', 'Água', 4, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Tentacruel', 'Água', 7, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1)),
('Geodude', 'Pedra', 5, CURRENT_DATE, (SELECT id FROM Treinadores ORDER BY RANDOM() LIMIT 1));""")
con.commit()

In [ ]:
rs = con.execute("SELECT * FROM pokemon WHERE nivel > 5")

In [ ]:
rs.fetchmany(1)

[(2, 'Charmander', 'Fogo', 6, '2024-05-31', 3)]

In [ ]:
for result in rs:
  print(f"Capturei o Pokemon: {result[0]}!!")

Capturei o Pokemon: Pikachu!!
Capturei o Pokemon: Metapod!!
Capturei o Pokemon: Jynx!!

In [ ]:
rs.fetchone()

('Jynx',)

In [ ]:
rs.fetchone()

In [ ]:
rs.fetchall()

[('Pikachu',), ('Metapod',), ('Jynx',)]

In [ ]:
rs.fetchmany(2)

[('Jynx',)]

## Psycopg2

In [ ]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.9)

In [ ]:
import psycopg2

In [ ]:
#protocolo://usuario:senha@host:[porta]/banco
url = "postgresql://bdnwdsqa:Fcuac9fB3VdD5urWL2Hf43nrjDUhPAz4@isabelle.db.elephantsql.com/bdnwdsqa"
con = psycopg2.connect(url)
cur = con.cursor()

In [ ]:
cur.execute("""CREATE TABLE Treinadores (
   id SERIAL PRIMARY KEY,
   nome VARCHAR(20) NOT NULL,
   cidade VARCHAR(20)
 );""")

In [ ]:
cur.execute("""INSERT INTO Treinadores(nome, cidade) VALUES
('Ash', 'Pallet'),
('Feulo', 'SP');
""")

In [ ]:
con.commit()

In [ ]:
cur.execute("SELECT * FROM Treinadores;")
rs = cur.fetchall()

In [ ]:
rs

[(1, 'Ash', 'Pallet'), (2, 'Feulo', 'SP')]

# SQLAlchemy

In [ ]:
! pip freeze | grep SQLAlchemy

SQLAlchemy==2.0.30

In [ ]:
! pip install -U sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [ ]:
# Cria a engine para o banco de dados
eng_postgres = create_engine("postgresql://gzxgfccf:gBkismk7ebdandSt_b3ry5d5Q015yTrK@isabelle.db.elephantsql.com/gzxgfccf")#
eng_sqlite = create_engine("sqlite:///pokemon.bd")

In [ ]:
con_sqlite = eng_sqlite.connect()
con_postgres = eng_postgres.connect()

In [ ]:
eng_sqlite_novo = create_engine("sqlite:///pokemon_novo.bd")
con_sqlite_novo = eng_sqlite_novo.connect()

In [ ]:
query = text("""
CREATE TABLE treinadores(
  id SERIAL PRIMARY KEY,
  nome VARCHAR(15),
  cidade VARCHAR(15),
  insignias SMALLINT
);
""")

In [ ]:
query.text

'\nCREATE TABLE treinadores(\n  id SERIAL PRIMARY KEY,\n  nome VARCHAR(15),\n  cidade VARCHAR(15),\n  insignias SMALLINT\n);\n'

In [ ]:
con_sqlite_novo.execute(query)

In [ ]:
treinadores = [
    {
        'nome': 'Ash',
        'cidade': 'Pallet',
        'insignias': 0
    },
    {
        'nome': 'Feulo',
        'cidade': 'SP',
        'insignias': 5
    },
    {
        'nome': 'Brock',
        'cidade': 'Pewter',
        'insignias': 2
    }
  ]

for treinador in treinadores:
  con_sqlite_novo.execute(text(f"INSERT INTO Treinadores(nome, cidade, insignias) VALUES ('{treinador['nome']}', '{treinador['cidade']}', '{treinador['insignias']}')"))

In [ ]:
con_sqlite_novo.commit()

In [ ]:
rs = con_sqlite_novo.execute(text("SELECT * FROM Treinadores;"))

In [ ]:
for result in rs.fetchall():
  print(result)

(None, 'Ash', 'Pallet', 0)
(None, 'Feulo', 'SP', 5)
(None, 'Brock', 'Pewter', 2)

In [ ]:
con_sqlite.close()
con_postgres.close()
con_sqlite_novo.close()

In [ ]:
# abre uma conexão com o banco e executa código SQL
with eng_sqlite_novo.connect() as con:
  con.execute(text("""CREATE TABLE Pokemon(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome VARCHAR(15),
  tipo VARCHAR(15),
  nivel SMALLINT,
  capturado_em TIMESTAMPTZ,
  id_treinador INTEGER NOT NULL REFERENCES Treinadores(id)
);"""))

In [ ]:
with eng_sqlite.connect() as con:
  con.execute(text("DROP TABLE pokemon;"))
  con.commit()

In [ ]:
data = [
    {'nome': 'Ash', 'cidade': 'Pallet', 'insignias': 2},
    {'nome': 'Feulo','cidade': 'SP','insignias': 4},
    {'nome': 'Brock','cidade': 'Pewter', 'insignias': 1}
]
# Inserindo dados
#with eng_postgres.connect() as con:
with eng_sqlite.connect() as con:
  for line in data:
    con.execute(text(f"INSERT INTO treinadores(nome, cidade, insignias) VALUES('{line['nome']}', '{line['cidade']}', {line['insignias']})"))
  con.commit()

In [ ]:
# Recebendo dados
with eng_sqlite.connect() as con:
  rs = con.execute(text("SELECT * FROM treinadores"))
  print(rs.fetchall())

[(None, 'Ash', 'Pallet', 0), (None, 'Feulo', 'SP', 5), (None, 'Brock', 'Pewter', 2), (None, 'Ash', 'Pallet', 2), (None, 'Feulo', 'SP', 4), (None, 'Brock', 'Pewter', 1)]

### SQL Expression Language

#### Definição de Schemas

In [ ]:
from sqlalchemy import Table, Column, Integer, String, MetaData

In [ ]:
# Cria um ojeto de metadata. Metadatas são coleçoes de tabelas e sua infos
meta = MetaData()

In [ ]:
eng_sqlite_3 = create_engine("sqlite:///pokemon_3.bd")
con_sqlite_3 = eng_sqlite_3.connect()

In [ ]:
#Cria um objeto do tipo tabela que abstrai uma tabela no Banco de dados
treinadores = Table('treinadores', meta,
     Column('id', Integer, primary_key=True, autoincrement=True, nullable=False),
     Column('nome', String(25), unique=True, nullable=False),
     Column('cidade', String(25)),
     Column('insignias', Integer, default=0),
     extend_existing=True
)

In [ ]:
print("The Name column:")
print(treinadores.columns.nome)
print(treinadores.c.nome)

print("Columns: ")
for col in treinadores.c:
    print(col)

print("Primary keys:")
for pk in treinadores.primary_key:
    print(pk)

print("The id column:")
print(treinadores.c.id.name)
print(treinadores.c.id.type)
print(treinadores.c.id.nullable)
print(treinadores.c.id.primary_key)

The Name column:
treinadores.nome
treinadores.nome
Columns:
treinadores.id
treinadores.nome
treinadores.cidade
treinadores.insignias
Primary keys:
treinadores.id
The id column:
id
INTEGER
False
True

In [ ]:
for table in meta.tables:
    print(table)

treinadores

In [ ]:
meta.reflect(bind=eng_sqlite_3)
for table in meta.tables:
    print(table)

treinadores

In [ ]:
meta.create_all(bind=eng_sqlite_3)

In [ ]:
from sqlalchemy import inspect

In [ ]:
insp = inspect(eng_postgres)
print(insp.get_table_names())
print(insp.get_columns("treinadores"))
print(insp.get_pk_constraint("treinadores"))

['treinadores']
[{'name': 'codigo', 'type': INTEGER(), 'nullable': False, 'default': "nextval('treinadores_codigo_seq'::regclass)", 'autoincrement': True, 'comment': None}, {'name': 'nome', 'type': VARCHAR(length=15), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'cidade', 'type': VARCHAR(length=15), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'insignias', 'type': SMALLINT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}]
{'constrained_columns': ['codigo'], 'name': 'treinadores_pkey', 'comment': None}

In [ ]:
meta.create_all(eng_postgres)

##### Expression Language (DML)

In [ ]:
from sqlalchemy.sql import select

In [ ]:
with eng_sqlite.connect() as con:
  stm = select(treinadores.c.nome, treinadores.c.insignias, treinadores.c.cidade)
  rs = con.execute(stm)
  print(rs.fetchall())

[('Ash', 2, 'Pallet'), ('Feulo', 4, 'SP'), ('Brock', 1, 'Pewter')]

In [ ]:
# LIMIT
with eng_sqlite.connect() as con:
  stm = select(treinadores.c.nome, treinadores.c.insignias).limit(1)
  rs = con.execute(stm)
  print(rs.fetchall())

[('Ash', 2)]

In [ ]:
from sqlalchemy.sql import and_, or_

In [ ]:
# WHERE
with eng_sqlite.connect() as con:
  stm = select(treinadores).where(and_(treinadores.c.insignias > 1, treinadores.c.cidade == "Pallet"))
  rs = con.execute(stm)
  print(rs.fetchall())

[(1, 'Ash', 'Pallet', 2)]

In [ ]:
print(stm)

SELECT treinadores.codigo, treinadores.nome, treinadores.cidade, treinadores.insignias
FROM treinadores
WHERE treinadores.insignias > :insignias_1 AND treinadores.cidade = :cidade_1

In [ ]:
#LIKE
with eng_postgres.connect() as con:
  stm = select(treinadores).where(treinadores.c.nome.like('G%'))
  rs = con.execute(stm)
  print(rs.fetchall())

[(3, 'Gary', 'Pallet', 2)]

In [ ]:
from sqlalchemy.sql import asc, desc

In [ ]:
# Order By
with eng_sqlite.connect() as con:
  s = select(treinadores.c['nome', 'insignias']).order_by(desc(treinadores.c.insignias))
  rs = con.execute(s)
  for result in rs.fetchall():
    print(result[0], result[1])

AttributeError: 'list' object has no attribute 'c'

In [ ]:
#AUTOLOAD
pokemon = Table('Pokemon', meta, autoload=True)

TypeError: Additional arguments should be named <dialectname>_<argument>, got 'autoload'

In [ ]:
with eng.connect() as con:
  stm = pokemon.insert().values([
      {
          'nome': 'Pikachu',
          'nivel': 10,
          'codigo_treinador': 1
      },
       {
          'nome': 'Charmander',
          'nivel': 3,
          'codigo_treinador': 2
      }
  ])
  con.execute(stm)
  con.commit()

In [ ]:
with eng.connect() as con:
  stm = select(pokemon.c['nome', 'nivel'], treinadores.c['nome', 'cidade']).join(treinadores)
  rs = con.execute(stm)
  print(rs.fetchall())

[('Pikachu', 10, 'Ash', 'Pallet'), ('Charmander', 3, 'Feulo', 'SP')]

In [ ]:
pokecenters = Table('pokecenters', meta,
  Column('codigo', Integer, primary_key=True),
  Column('cidade', String(25), nullable=False)
)

### Object-Relational Mapping (ORM)

In [ ]:
from sqlalchemy.orm import declarative_base, Session
from sqlalchemy.exc import IntegrityError

In [ ]:
# Classes Bases e Sessão
meta_orm = MetaData()
Base = declarative_base(metadata=meta_orm)

In [ ]:
class Treinador(Base):
  __tablename__ = "treinadores"
  id = Column(Integer, primary_key=True, autoincrement=True, nullable=False)
  nome = Column(String(25), nullable=False, unique=True)
  cidade = Column(String(25))
  insignias = Column(Integer, default=0)

  def __repr__(self):
    return f"<Treinador({self.nome})>"

  def ganhar_insignia(self):
    self.insignias +=1

In [ ]:
Base.metadata.reflect(eng_postgres)

In [ ]:
Base.metadata.create_all(bind=eng_postgres)

In [ ]:
t1 = Treinador(nome='Ash', cidade='Pallet')
t2 = Treinador(nome='Gary', cidade='Pallet')
t3 = Treinador(nome='Feulo', cidade='SP')

In [ ]:
with Session(eng_postgres) as s:
  s.add_all([t1, t2, t3])
  s.commit()

In [ ]:
#SELECT
#Session = sessionmaker(metadata=meta_orm)
with Session(eng_postgres) as s:
  rs = s.query(Treinador).order_by(Treinador.nome).all()
  treinadores = list(rs)
  #ash = treinadores[0]
  #print(ash.pokemon)
print(treinadores)

[<Treinador(Ash)>, <Treinador(Feulo)>, <Treinador(Gary)>]

In [ ]:
ash = treinadores[0]

In [ ]:
ash.cidade

'Pallet'

In [ ]:
ash.ganhar_insignia()

In [ ]:
ash.insignias

2

In [ ]:
with Session(eng_postgres) as s:
  s.add(ash)
  s.commit()

In [ ]:
### CRIANDO UM NOVO TREINADOR
ash2 = Treinador(nome="Ash", cidade="Pallet", insignias=1)

In [ ]:
print(ash, ash2)

<Treinador(Ash)> <Treinador(Ash)>

In [ ]:
with Session(eng_postgres) as s:
  try:
    s.add(ash2)
    s.commit()
  except IntegrityError:
    print("Ja existe um treinador com esse nome")
    s.rollback()

Ja existe um treinador com esse codigo

In [ ]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [ ]:
class Pokemon(Base):
  __tablename__ = "pokemon"
  extend_existing= True
  id = Column(Integer, primary_key=True, autoincrement=True)
  nome = Column(String(10), nullable=False)
  tipo = Column(String(25))
  nivel = Column(Integer, default=1)
  id_treinador = Column(Integer, ForeignKey("treinadores.id"), nullable=False)
  treinador = relationship(Treinador, backref="pokemon")

  def __repr__(self):
    return f"<Pokemon({self.nome},{self.nivel})>"

  def subir_de_nivel(self):
    self.nivel +=1

In [ ]:
Base.metadata.create_all(bind=eng_postgres)

In [ ]:
pokemon = [
    Pokemon(nome="Pikachu", tipo="Elétrico", nivel=5, treinador=ash),
    Pokemon(nome="Mewtwo", tipo="Psiquico", nivel=99, treinador=treinadores[1]),
    ]
with Session(eng_postgres) as s:
  try:
    s.add_all(pokemon)
    s.commit()
  except IntegrityError:
    print("Ja existe um treinador com esse codigo")
    s.rollback()

In [ ]:
with Session(eng_postgres) as s:
  rs = s.query(Treinador).order_by(Treinador.nome).all()
  treinadores[0]
  #ash = treinadores[0]
  #print(ash.pokemon)

In [ ]:
treinadores[0].pokemon

DetachedInstanceError: Parent instance <Treinador at 0x7b6624f96140> is not bound to a Session; lazy load operation of attribute 'pokemon' cannot proceed (Background on this error at: https://sqlalche.me/e/20/bhk3)

In [ ]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [ ]:
class Ginasio(Base):
  __tablename__ = "ginasios"
  codigo = Column(Integer, primary_key=True, autoincrement=True)
  nome = Column(String(25))
  cidade = Column(String(25))
  codigo_lider = Column(Integer, ForeignKey("treinadores.codigo"),nullable=False)
  lider = relationship("Treinadores", backref="ginasio")
  def __repr__(self):
    return f"<Ginasio({self.nome})>"

In [ ]:
Base.metadata.create_all(bind=eng_postgres)

In [ ]:
with Session(eng) as s:
  try:
    rs = s.query(Treinador).all()
    brock = list(rs)[2]
    #ginasio_pewter = Ginasio(nome="Ginasio Pewter", lider=brock)
    #s.add(ginasio_pewter)
    #s.commit()
  except IntegrityError:
    #print("Ja existe um treinador com esse codigo")
    #s.rollback()
    pass

NameError: ignored

In [ ]:
try:
  with Session() as s:
    s.add_all([
      Carro(nome='Mercedes', preco=57127),
      Carro(nome='Skoda', preco=9000),
      Carro(nome='Volvo', preco=29000),
      Carro(nome='Bentley', preco=350000),
      Carro(nome='Citroen', preco=21000),
      Carro(nome='Hummer', preco=41400),
      Carro(nome='Volkswagen', preco=21600)
    ])
    s.commit()
except Exception as e:
  print("Deu ruim!")

In [ ]:
from sqlalchemy.sql import func

In [ ]:
with Session() as s:
  carros_caros = s.query(func.avg(Carro.preco)).filter(Carro.preco>25000).all()

In [ ]:
carros_caros

[(Decimal('132910.500000000000'),)]

In [ ]:
carros_caros[4].preco

100000

In [ ]:
mercedez = carros_caros[1]

In [ ]:
mercedez.preco

100000

In [ ]:
with Session() as s:
 hummer = s.query(Carro).filter(Carro.nome=="Hummer").first()

In [ ]:
if hummer:
  print(hummer.nome)
else:
  print("Nome não existente")

Nome não existente

In [ ]:
with Session() as ses:
  try:
    ses.delete(hummer)
    ses.commit()
  except IntegrityError:
    print("Ja existe um carro com esse nome")
    ses.rollback*()

In [ ]:
Base = declarative_base(bind=eng_postgres)

class Author(Base):
  __tablename__ = "Authors"

  author_id = Column('author_id', Integer, primary_key=True, autoincrement=True)
  name = Column(String)

  def __init__(self, name):
    self.name = name

  def __repr__(self):
    return f"<Author: {self.name}>"

class Book(Base):
  __tablename__ = "Books"

  book_id = Column(Integer, primary_key=True, autoincrement=True)
  title = Column(String)
  author_id = Column(Integer, ForeignKey("Authors.author_id"),nullable=False,)
  author = relationship("Author", backref="books")

  def __init__(self, title):
    self.title = title


  def __repr__(self):
    return f"<Book: {self.title} - {self.author.name}>"

In [ ]:
Base.metadata.create_all()

In [ ]:
jane =  Author('Jane Austen')
leo = Author('Leo Tolstoy')
heller =  Author('Joseph Heller')
dickens = Author('Charles Dickens')

In [ ]:
ses.rollback()

In [ ]:
jane = ses.query(Author).filter(Author.name == "Jane Austen").first()
leo= ses.query(Author).filter(Author.name == "Leo Tolstoy").first()
heller = ses.query(Author).filter(Author.name == "Joseph Heller").first()
dickens = ses.query(Author).filter(Author.name == "Charles Dickens").first()

DetachedInstanceError: ignored

In [ ]:
jane.books.append(Book('Emma'))

DetachedInstanceError: ignored

In [ ]:
leo.books.append(Book('War and Peace'))
heller.books.append(Book('Catch XII'))
leo.books.append(Book('Good as Gold'))
jane.books.append(Book('Anna Karenia'))
dickens.books.append(Book('David Copperfield'))

In [ ]:
ses.add_all([leo, heller, jane, dickens])
ses.commit()

In [ ]:
with Session() as s:
  res = s.query(Author).all()
  print(res)

[<Author: Jane Austen>, <Author: Leo Tolstoy>, <Author: Joseph Heller>, <Author: Charles Dickens>]

In [ ]:
with Session() as s:
  res = s.query(Book).all()
  print(res)

[<Book: Emma - Jane Austen>, <Book: War and Peace - Leo Tolstoy>, <Book: Catch XII - Joseph Heller>, <Book: David Copperfield - Charles Dickens>, <Book: Good as Gold - Joseph Heller>, <Book: Anna Karenia - Leo Tolstoy>]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SAWarning: relationship 'Book.author' will copy column Authors.author_id to column Books.author_id, which conflicts with relationship(s): 'Author.books' (copies Authors.author_id to Books.author_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   The 'overlaps' parameter may be used to remove this warning.

In [ ]:
with Session() as s:
  res = s.query(Author).filter(Author.name=="Leo Tolstoy").first()
  print(res.name)
  for book in res.books:
    print (book.title)

Leo Tolstoy
War and Peace
Anna Karenia

In [ ]:
ses.close()

In [ ]:
with Session() as s:
  res = s.query(Author).filter(Author.books.any(title="Good as Gold")).first()
  print(res.name)

Leo Tolstoy

In [ ]:
with eng_postgres.connect() as con:
  rs = con.execute(text("SELECT * FROM Books"))
  print(rs.fetchall())

ProgrammingError: ignored

In [ ]:
insp.get_table_names()

['Authors', 'Books', 'Cars', 'cars']

In [ ]:
insp.get_schema_names()

['information_schema', 'public']

In [ ]:
ses.query(Book).all()

[<Book: War and Peace - Leo Tolstoy>,
 <Book: Catch XII - Joseph Heller>,
 <Book: Good as Gold - Leo Tolstoy>,
 <Book: Anna Karenia - Jane Austen>,
 <Book: David Copperfield - Charles Dickens>]

In [ ]:
with Session() as s:
  s.query(Book).all()

In [ ]:
ses.commit()

In [ ]:
ses.is_active

True